body{
    background-color:#fcfcf7;
    margin:0 auto;
    width:100%;
}

header{
    display: block;
    width:100%;
    height:250px;
    margin: 4px;
    font-family: brush script MT, freestyle script, harlow solid italic;
    text-align: center;
}

.entete{
    font-size: 60px;
    opacity:0;
    animation-name:fadein;
    animation-duration: 1.2s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.menu{
    border-top-width:1px;
    margin-left:20px;
    margin-right:20px;
    border-top-style:solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 4px;
}

.choice{
    font-size: 25px;
    font-family: brush script MT, freestyle script, harlow solid italic;
    padding-right: 5%;
    padding-left:5%;
    text-decoration:none;
    color:black;
    cursor: pointer;
}
.choice:hover{
    color:#ffe4c4;
    transition: all 0.2s ease-in;
}

@keyframes fadein{
    From{
        opacity:0;
    }
    To{
        opacity:1;
    }
}

.bandeau{
    margin:2%;
    position:relative;
}

.bandeauimg{
    display:block;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    opacity:0;
    transform:translateX(25%);
    animation-name:fadeslide;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: cubic-bezier(.3,.01,.59,.97);
    animation-fill-mode: forwards;
}

@keyframes fadeslide{
    from{
        opacity:0;
        transform:translateX(25%);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

.title{
    position:absolute;
    top:10%;
    left:10%;
    color: white;
    opacity:0;
    text-align:center;
    text-decoration:underline;
    font-size: 47px;
    font-family: brush script MT, freestyle script, harlow solid italic;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

#couple, 
#mariage{
    display:inline-block;
    width:45%;
    margin:2%;
    font-size: 37px;
    font-family: brush script MT, freestyle script, harlow solid italic;
    transition: all 1s cubic-bezier(.3,.01,.59,.97);
}

.couple, 
.mariage{
    text-align:center;
    color:black;
}

.coupleimg, 
.mariageimg{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.apparition{
    opacity:0;
    transform:translateY(-10%);
}
.apparition-visible{
    opacity:1;
    transform:translate(0);
}

a{
    text-decoration:none;
}

/*Responsive design*/
@media screen and (max-width: 724px) and (min-width: 573px){
    .menu .choice:last-child{
        display:block;
    }
}
